
#sign{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
#img{
    width: 50%;
    height: 90vh;
}
#img img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}
#Details{
    padding: 50px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto; 
}
#Details h1 {
    font-size: 45px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

#Details h5 {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#Details input[type="email"],
#Details input[type="password"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#Details button {
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#Details #creacc{
    background-color: #007bff;
}
#Details #google{
    background-color: white;
    color: black;
    margin-top: 20px;
    border: 2px solid black;   
}

#Details button:hover {
    background-color: #0056b3;
}

#Details h2 {
    font-size: 18px;
    color: #333;
    margin-top: 30px;
}




#Details h2 a {
    color: #007bff;
    text-decoration: none;
}
#btn{
    display: flex;
    align-items: center;
}

#Details h3{
    width: 100%;
    text-align: end;
    font-size: 15px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #007bff;
    font-style: normal;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 5px;
    color: #666;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 5px;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border-color: #007bff;
}
